# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [5]:
# for keyword, counter/iterator variable, in keyword, object
#loopig through a range
#start, stop, range
for i in range(10, 100, 10):
    print (i)

    
    
name = "buba"
#looping value
for letter in name:
        print (letter)

        
##len()which returns the length of an iterable/object
length = len(name)
print (length)
#loop by index

for i in range (len(name)):
    print(i)
    print(name[i], "at index", i)

10
20
30
40
50
60
70
80
90
b
u
b
a
4
0
b at index 0
1
u at index 1
2
b at index 2
3
a at index 3

##### Using 'in' keyword

In [7]:
#in is what accesses the items in an iterable
for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### Continue Statement

In [15]:
#continue will skip over an item in an iterable based on a condition
for i in range(20):
    if i == 5 or i== 6:
        continue
        print(i)
        
for i in range(20):
    if i == 5 or i== 6:
        continue
    else:
        print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

In [16]:
my_list = [100, 90, 200, 70]
for num in my_list:
    if num < 100:
        print(num)

90
70

##### Break Statement

In [22]:
#break out of current loop
for i in range(10):
    if i == 4:
        break
    print(i)

# i = 0
# while i < 10:
#     i += 1
#     print(i)

0
1
2
3
1
2
3
4
5
6
7
8
9
10

##### Pass Statement

In [23]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass #todo: comeback and do stuff later
def add_to_cart():
    pass
def thank_the_cashier():
    pass
print('hello')

hello

##### Double For Loops

In [24]:
for i in range(5):
    for j in range(i):
        print("i=", i, "j =", j)

i= 1 j = 0
i= 2 j = 0
i= 2 j = 1
i= 3 j = 0
i= 3 j = 1
i= 3 j = 2
i= 4 j = 0
i= 4 j = 1
i= 4 j = 2
i= 4 j = 3

In [26]:
my_list = [1, 2, 3, 4, 5,6]
for num in my_list:
    for num2 in my_list:
        print(num +num2)

2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10
6
7
8
9
10
11
7
8
9
10
11
12

### While Loops

In [29]:
#while keyword, condition statement
#while loop will run based on the condition statement
counter = 0
while counter <11:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

##### looping 'While True'

In [31]:
# true as a condition for while loop to run
#true
#false
counter = 0

while True:
    counter +=1
    print(counter)
    if counter == 5:
        break

1
2
3
4
5

In [32]:
game = True #flag


my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game:#same as while true
    
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

1
2
3
4

In [ ]:
##### While & For Loops Used Together

In [1]:
j = 0
while j<10:
    print(f"while loop iteration: {j}")
    for num in range(j):
        print(f"for loop iteration: {num}")
    j+=1

while loop iteration: 0
while loop iteration: 1
for loop iteration: 0
while loop iteration: 2
for loop iteration: 0
for loop iteration: 1
while loop iteration: 3
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
while loop iteration: 4
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
while loop iteration: 5
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
for loop iteration: 4
while loop iteration: 6
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
for loop iteration: 4
for loop iteration: 5
while loop iteration: 7
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
for loop iteration: 4
for loop iteration: 5
for loop iteration: 6
while loop iteration: 8
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
for loop iteration: 4
for loop iteration: 5
for loop iteration: 6
for loop iteration: 7
while loop iteration: 9
for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
for loop iteration: 4
for loop iteration: 5
for loop iteration: 6
for loop iteration: 7
for loop iteration: 8

##### The Range Function

In [5]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for num in range(10):
    print(num)

for num in range(10, 25):
    print(num)
    
#range start stop and step

for num in range (10, 100, 5):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

### String Manipulation Exercise

In [7]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for y in names:
    print((y.strip().title()))

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [ ]:
#[anything inside of square is a list ]
our_list= []
print(our_list)
names = ["G", "H", "I"]

##### Indexing a List

In [26]:
# [start: stop: step] --> last item [-1]
#index 0 is the first position in a list
#we index into a list with these following list name---- our_list[0]
#-1 is the last position in a list

#single index
print(names[2])

# Print Starting at index 1 and going to the end of the list
print(names[1:])

#Print starting at the beginning of the list and go to the specified index
print(names[:2])

#Print starting at index 1 and stepping by 2
print(names[1::2])

#print starting at the back and going to the front
print(names[::-1])


print(names[0], "at index 0")
print(names[1], "at index 1")
print(names[2], "at index 2")
print(names[3], "at index 3")
print(names[4], "at index 4")
print(names[5], "at index 5")
print(names[6], "at index 6")

for i in range (len(names)):
    print(i)
    print(names[i])

 EVan
['max', ' EVan ', 'JORDAN']
['    coNNor', 'max']
['max', 'JORDAN']
['JORDAN', ' EVan ', 'max', '    coNNor']
    coNNor at index 0
max at index 1
 EVan  at index 2
JORDAN at index 3

IndexError: list index out of range

### List Methods

In [ ]:
# [start: stop: step] --> last item [-1]
# LIST SLICING
names = ["Liz",'Ryan', "Juan", "Ben", "Connor", "Miguel", "Grace"]
# single index
print(names[4])

# print starting at index 1 and go to the end of the list
print(names[1:])

# start at the beginning and go to a specified index
print(names[:3])

# starting at index 1 and stepping by 2 through the list
# print(names[1::2])
new_names = names[1::2]
print(new_names)

# reverse a list
print(names[::-1])

##### .append()

In [28]:
names = ["Grace", "Justin", "Connor", "Michael", "Will"]
print(names)
#adds new item to the end of the list
names.append("Kym")
print(names)

['Grace', 'Justin', 'Connor', 'Mike', 'Will']
['Grace', 'Justin', 'Connor', 'Mike', 'Will', 'Kym']

##### .insert()

In [30]:
#our_list.insert(index, value)
print(names)
names.insert(3, "Bikram")
print(names)

#names2 = names.insert(4, "Berik")
#print(names2)

['Grace', 'Justin', 'Connor', 'Mike', 'Will', 'Kym']
['Grace', 'Justin', 'Connor', 'Bik', 'Mike', 'Will', 'Kym']

##### .pop()

In [32]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
# my_list.pop (<optional index>)

name= names.pop(2)
print(name)
print(names)

#removes item  at the last index by default
name2 = names.pop()
print(name2)
print(names)

Bik
['Grace', 'Justin', 'Mike', 'Will', 'Kym']
Kym
['Grace', 'Justin', 'Mike', 'Will']

##### .remove()

In [ ]:
# value to be removed, not an index
# my_list.remove (value to remove)

### Working With Lists

##### del()

In [34]:
# index to be removed, not value 
#reference by index 

del(names[0])
print(names)

['Mike', 'Will']

##### min()

In [35]:
# return the smallest item in a list
numbers = [5, 6, 12, 6, 7, 0, 12]
print(min(numbers))

0

##### max()

In [ ]:
# returns largest item in a list

numbers = [5, 6, 12, 6, 7, 0, 12]
print(max(numbers))

##### sum()

In [36]:
# return the sum of all numbers in a list
print(sum(numbers))

48

##### sorted()

In [37]:
#sorted will return a new sorted list, create a new variable
#(iterable, key=key, reverse=reverse)
sorted_nums = sorted(numbers)
print(sorted_nums)

[0, 5, 6, 6, 7, 12, 12]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [38]:
#.sort() will sort the original list
numbers.sort()
print(numbers)

[0, 5, 6, 6, 7, 12, 12]

##### Copying a List

In [39]:
# [:] copies a list, doesn't alter original'

numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]

print(numbers)
print(new_list)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [42]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
#looping by value
for name in names:
    print(name)
    print("\n")
    
#looping by index
for i in range(len(names)):
    print(names[i])
    
#looping with enumerate
for i, value in enumerate(names):
    print(i,value)

Han Solo


Leia Organa


Luke Skywalker


Lando Calrissian


Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

In [ ]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

##### 'not in' keyword

In [43]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
if "Ryan" in names:
    print("Hello Ryan")
else:
    "There is no ryan"

Hello Ryan

##### Checking an Empty List

In [1]:
l_2 = []
l_3 = None
if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("yes")
else: 
    print("no")

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [44]:
#while, remove
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
while "Ryan" in names:
    names.remove("Ryan")
print(names)
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

#for loop, remove
for name in names: 
    if name == "Austin":
        names.remove("Austin")
print(names)

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [46]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

empty_list = [] #empty list
for i in names: 
    if i in empty_list:
        continue
    empty_list.append(i)
print(empty_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

# initializing list
# test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
    + str(names))

# using set() to remove duplicated from list
names = list(set(names))

# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
    + str(names))

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [48]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums2 = [x for x in nums]

print(nums2)

nums2 = []
for x in nums:
     nums2.append(x)
print(nums2)

[2, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 5, 6, 7, 8, 9, 10]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [50]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
num_square = [x**2 for x in nums if x % 2==0]
print(num_square)

nums3 = []
for num in nums:
    if num %2 == 0:
        nums3.append(num**2)

[4, 16, 36, 64, 100]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [56]:
#immutable list cant alter what a tuple looks like

tup_1 = (1,2,3)
tup_2 = 1, 2, 3
print (tup_1)
print (tup_2)

print(tup_1[1])

for num in tup_2:
    print(num)
    
print(type(tup_1))

print(len(tup_2))

(1, 2, 3)
(1, 2, 3)
2
1
2
3
<class 'tuple'>
3

##### sorted()

In [58]:
tup = (25, 2, 10, 95, 123)

print(sorted(tup))

new_tup = tuple(sorted(tup))
print(new_tup)

[2, 10, 25, 95, 123]
(2, 10, 25, 95, 123)

##### Adding values to a Tuple

In [60]:
#re assigning variable and adding things to reassign new value

print(tup)

tup = tup +(6, 5,)
print(tup)

(25, 2, 10, 95, 123, 6)
(25, 2, 10, 95, 123, 6, 6, 5)

In [62]:
#list Concatenation
my1 = "hello"
my2 = "there"
my3 = my1 +" " +my2
print(my3)

hello there

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [19]:
alist = [1,11,14,5,8,9]

alist = [1,11,14,5,8,9]
for num in alist:
    if num <10:
        print(num)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [68]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = l_1 + l_2
print(l_3.sort())
print("Numbers after merge & sort", l_3)

None
Numbers after merge & sort [1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [74]:
for num in range(1, 16):
    print(num**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [86]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

#look at names and find names that start with a and make sure to title case and strip

# i would look at the names, find the names that start with a, if they do add to my new paper list and make sure to tilecase and strip
# new_list= []
# for name in names_list:
#     #figure out if it starts with an A or a
#     if len(name.strip()) > 0 and name.strip().lower()[0] == 'a':
#         new_list.append(name.strip().title())
#     print(new_list)
    
    
    
list_comp = [name.strip().title() for name in names_list if len(name.strip())> 0 and name.strip().lower()[0] == "a" ]
list_comp

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [103]:
#print all prime numbers 1 100 
#start from 2 go to 101 in range function
#any numbers divisible by 2 should not be printed
#print all numbers not divisable by 2
#if x in range 2-101 is divisible by 2 with a mudolo of 0 print x

# for i in range(2,101):
#     if i % 2 == 1:
#         print(i)
    

#I don't understand how this solution works if 2 is divided by 2 the modolo is 0, so why does two print when the% of 2 == 0 ? Also, how can I complete this problem with the code I ccommented out above, I am trying to make sense of it. Thank you!!! ^

for num in range(2,101):
    if all(num%i!=0 for i in range(2,num)):
       print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97